body
{
    background-color: #020f1b;
}

body svg
{
    position: absolute;
    top: 0px;
    right: 0px;
    width: calc(100% - 500px);
    height: 100%;
}

.file_window
{
    width: max-content;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    padding-right: 10px;
    /* background-color: #0301159c; */
    /* box-shadow: 0px 0px 50px black; */
}

#file_explore_path
{
    margin-bottom: 10px;
    width: 200px;
    height: 30px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 2px solid #34ffbb;
    /* border-bottom:none; */
    border-left: none;
    background-color: transparent;
    outline: none;
    color: #34ffbb;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: medium;
}

#upload_file_button
{
    width: 40px;
    height: 40px;
    position: relative;
    top: 15px;
    left: 15px;
    cursor: pointer;
    transition: filter 0.5s;
}

#upload_file_button:hover
{
    filter: brightness(1.2);
}

#upload_file_button:active
{
    animation: tilt 0.2s 1 ease-out;
    transform-origin: bottom;
}

@keyframes tilt
{
    0%
    {
        transform: translate(0px, 0px);
    }
    100%
    {
        transform: translate(0px, 5px);
    }
    
}

.file_panel
{
    position: relative;
    width: 450px;
    height: 450px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 15px;
    padding-left: 0px;
    border-radius: 50px;
    direction: rtl;
    border: 2px solid #34ffbb;
    border-left: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    scrollbar-width: thin;
}

.file_panel .file_panel_container
{
    direction: ltr;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.file_panel .content
{
    width: 450px;
    height: 100px;
    background-color: #070214;
}

.file_panel .content .style_section
{
    width: 450px;
    height: 100px;
    position: absolute;
    overflow: hidden;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.file_panel .content .style_section div:nth-child(1)
{
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 50%;
    background-color: #0ae39a;
    left: 140px;
    top: 35px;
}

.file_panel .content .style_section div:nth-child(2)
{
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
    background-color: #0ae39a;
    right: -10px;
    top: 15px;
}

.file_panel .content .details
{
    width: 100%;
    height: 100px;
    position: absolute;
}

.file_panel .content .details .thumbnail
{
    width: 150px;
    height: 80px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    position: absolute;
    top: calc(50% - 40px);
    box-shadow: 5px 0px 15px black;
}

.file_panel .content .details h2 ,h3
{
    position: relative;
    top: 0px;
    left: 165px;
    color: antiquewhite;
    width: min-content;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 0px 0px 10px black;
    margin: 0px;
    margin-top: 10px;
    max-width: 270px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* .action_frame
{
    width: 250px;
    height: 250px;
    background-color: #0d1c49;
    border-radius: 20px;
    overflow: hidden;
}

.action_frame .style_section
{
    width: 250px;
    height: 250px;
    position: absolute;
    border-radius: 20px;
    overflow: hidden;
}

.action_frame .style_section div:nth-child(1)
{
    width: 250px;
    height: 250px;
    position: absolute;
    border-radius: 50%;
    background-color: #63b9bd;
    left: -57px;
    top: -57px;
} */

.file_upload_status
{
    width: 300px;
    height: 50px;
    background-color: #081a37;
    position: relative;
    top: 0px;
    left: 0px;
    direction: ltr;
}

.file_upload_status .style_section
{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.file_upload_status .style_section div
{
    width: 70px;
    height: 70px;
    position: absolute;
    border-radius: 50%;
    background-color: #34ffbb;
}

.file_upload_status .style_section div:nth-child(1)
{ 
    left: 200px;
    top: -39px;
}

.file_upload_status .style_section div:nth-child(2)
{
    border-radius: 0px;
    width: 50px;
    height: 100%;
    position: absolute;
    left: 250px;
    top: 0px;
}

.file_upload_status .style_section div:nth-child(3)
{
    background-color: #081a37;
    left: 230px;
    top: 25px;
}

.file_upload_status .style_section .rot
{
    width: 150px;
    height: 150px;
    left: 10px;
    background-color: transparent;
    animation: rotate 5s infinite linear;
}

.file_upload_status .style_section .rot div
{
    width: 90px;
    height: 90px;
    position: absolute;
    border-radius: 50%;
    background-color: #34ffbb;
}

.file_upload_status .style_section .rot div:nth-child(1)
{
    left: 0px;
    top: 0px;
}

.file_upload_status .style_section .rot div:nth-child(2)
{
    left: 60px;
    top: 0px;
}

.file_upload_status .style_section .rot div:nth-child(3)
{
    left: 0px;
    top: 60px;
}

.file_upload_status .style_section .rot div:nth-child(4)
{
    left: 60px;
    top: 60px;
}

.file_upload_status .style_section .rot div:nth-child(5)
{
    left: 30px;
    top: 30px;
    background-color: #081a37;
}

@keyframes rotate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

.progress
{
    width: 200px;
    height: 10px;
    position: absolute;
    top: 35px;
    left: 10px;
    background-color: #1647977b;
    border-radius: 5px;
    border: 2px solid #421eef;
}

.progress .progress_bar
{
    width: 0%;
    height: 10px;
    background-color: #421eef;
    border-radius: 5px;
}

.file_upload_status h3
{
    left: 10px;
    color: antiquewhite;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.file_uploads
{
    width: 300px;
    height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;

    border: 2px solid #34ffbb;
    border-left: none;
    border-radius: 30px;

    direction: rtl;
    scrollbar-width: thin;
}

.video_holder
{
    height: 100%;
    width: calc(100% - 450px);
    position: absolute;
    right: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#video_player
{
    width: 75%;
    height: 75%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px black;
    border: 2px solid #34ffbb;
}